html {
	scroll-behavior: smooth;
    box-sizing: border-box;
}
header {
    height: 10%;
    width: 100%;
    padding: 15px;
    position: fixed;
    z-index: 100;
}
body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 0px;
    margin: 0;
    top: -30px; 
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    color: #5b6259;
    padding: 15px;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 10;
    font-style: normal;
    font-size: 40px;
    color: rgb(255, 0, 0);
    
}
h2 {
    font-family: freight-display-pro, serif;
    font-weight: 10;
    font-style: bold;
    font-size: 60px;
    color: #ff0000;
}
h3 {
    font-family: cursive;
    font-weight: 2;
    font-size: 50px;
    color: red;
}
p {
    /*font-family: operetta-12, serif;*/
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 12px;
    color: blue;
}

.title {
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    font-size: 35px;
    letter-spacing: 2px;
    padding: 20px 40px;
    font-family: cursive;
}
.navbar {
    overflow: hidden;
    position: fixed;
    z-index: 98;
    width: 100%;
    right: 0px;
    top: 0px;
    padding: 0px 40px;
    font-size: 35px;
    font-family: cursive;
}
  
.navbar a {
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px; 
}
a {
    color: #000000e2;
}
a:hover {
    color: #ffffff;
}

iframe {
    text-align: center;
    margin: 0 auto;
}
.contact {
    width: fit-content;
    height: 100%;

    margin: 0 auto;
}
.contact-container {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 65% 0%;
}

footer {
    overflow: hidden;
    position: fixed;
    z-index: 98;
    width: 100vw;
    text-align: right;
    left: 0px;
    bottom: 0px;
    padding: 0px 40px;
    font-size: 35px;
    font-family: cursive;
    letter-spacing: 2px;
    
}
.footernav a {
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0px 80px; 
}

#fadeblur {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    
}
#fade {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}
#fade2 {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
     -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
         animation: fadein 1s;
}
#fade3 {
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
     -ms-animation: fadein 4s; /* Internet Explorer */
      -o-animation: fadein 4s; /* Opera < 12.1 */
         animation: fadein 4s;
}
/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
 @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
@media only screen and (max-width: 700px) {
    .navbar {
        left: 0px;
        top: 60px;
        z-index: 100;
    }
    .navbar a {
        float: left;
        padding: 0% 2% 0% 0%;
    }
    .iframemedia {
        max-width: 80%;
        max-height: 400px;
    }
    .column {
        display: flex;
        flex-direction: column;
    }
    .cibimedia {
        max-width: 250px;   
    }
}
@media only screen and (max-width: 375px) {
    .title .navbar .footerbar {
        font-size: 20px;
        padding: 3px;
    }
    .navbar {
        top: 60px;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}