* {
    margin: 0;
    padding: 0;
    cursor: grab;
}
header {
    height: fit-content;
    width: 100vw;
    position: fixed;
    z-index: 20;
    text-align: center;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(183, 201, 218);
    background-image: url(carrier_bag/bg.png);
    /*background image is a zoomed in screen shot of the video*/
    background-blend-mode: hard-light;
    background-size: cover;
    background-attachment: fixed;
    overflow: scroll;
}
:root {
    --main: rgb(172, 194, 176);
    --text: rgba(95, 108, 143, 0.85);
    --overlay: rgba(224, 3, 3, 0.85);
}
#wave {
    position: fixed;
    right: 0;
    top: 0; 
    padding: 3%;
    opacity: 35%;
    z-index: 50;
}
button {
    position: relative;

}
#outline {
    width: 100%;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: -1;
    fill: var(--main);
    overflow: hidden;
}
#longshell {
    width: 15%;
    position: fixed;
    bottom: 0%;
    left: 10%;
    z-index: -1;
    fill: var(--main);
    overflow: hidden;
}
#sea-color {
    fill: none;
}
/*boxes contain POEM*/
.boxes {
    position: relative;
    width: 100%;
    height: 70vh;
    fill: var(--overlay);
}
/*boxes2 contain SHELLS*/
.boxes2 {
    margin: 0% 10% 0% 0%;
    width: fit-content;
    height: 200px;
    opacity: 0.6;
    color: var(--main);
}
/*SHELL styling*/
#shell1 {
    position: absolute;
    z-index: 25;
    top: 20%;
    right: 10%;
    width: 200px;
    height: 200px;
    opacity: 0.6;
}
#shell2 {
    position: absolute;
    z-index: 25;
    top: 55%;
    left: 10%;
    width: 200px;
    height: 200px;
    opacity: 0.6;
}
#shell3 {
    position: absolute;
    z-index: 25;
    top: 23%;
    left: 26%;
    width: 100px;
    height: 100px;
    opacity: 0.6;
    background-position: center;
    background-size: contain;
}
#shell4 {
    position: absolute;
    z-index: 25;
    top: 110%;
    left: 43%;
    width: 100px;
    height: 100px;
    opacity: 0.6;
    background-position: center;
    background-size: contain;
}
#shell5 {
    position: absolute;
    z-index: 25;
    top: 153%;
    left: 69%;
    width: 120px;
    height: 120px;
    opacity: 0.6;
    background-position: center;
    background-size: contain;
}
#shell6 {
    position: absolute;
    z-index: 25;
    top: 201%;
    left: 48%;
    width: 200px;
    height: 200px;
    opacity: 0.6;
    background-position: center;
    background-size: contain;
}
#shell7 {
    position: absolute;
    z-index: 25;
    top: 238%;
    left: 2%;
    width: 110px;
    height: 110px;
    opacity: 0.6;
    background-position: center;
    background-size: contain;
}
/*ocean GIF*/
#wav-gif:hover {
    animation-name: hide;
    animation-duration: 2s;
    transition: ease-in-out;
    opacity: 0.4;

}
/*POEM styling*/
#p-1, #p-2, #p-3, #p-4 {
    position: absolute;
    z-index: 0;
    padding: 10%;
    color: var(--text);
    font-style: italic;
}
#swim, #theres, #and, #let {
    width: 70vw;
    padding: 8%;
    opacity: 0;
}

.seeclearly:hover {
    animation-name: reveal;
    animation-duration: 3s;
}
/*text REVEAL*/
@keyframes reveal {
    from {opacity: 0;}
    to {opacity: 1;}
}
/*OCEAN GIF hide*/
@keyframes hide {
    from {opacity: 1;}
    to {opacity: 0;}
}