body {
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(184, 165, 150), rgb(140, 124, 102), rgb(97, 78, 60), rgb(151, 142, 129), rgb(115, 99, 86), rgb(84, 52, 35), grey);
}
section {
    height: 100vh;
}
img {
    max-height: 400px;
}
a {
    font-style: bold;
    color: lemonchiffon;
}
p {
    font-size: 20px;
    color: white;
}