body {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background-color: black;
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 5px 2px 20px white;
}
#text-wrap {
    display: flex;
    flex-direction: column;
    padding: 3%;
    overflow-wrap: break-word;
}
#coffee {
    padding-bottom: 20vh;
    text-align: left;
    animation: 3s fade linear;
}
#poems {
    padding-bottom: 20vh;
    text-align: right;
    animation: 6s fade linear;
}
#glitch {
    padding-bottom: 20vh;
    text-align: left;
    animation: 10s fade linear;
}
#crunchy {
    padding-bottom: 20vh;
    text-align: right;
    animation: 16s fade linear;
}
#chip {
    text-align: left;
    animation: 20s fade linear;
}

@keyframes fade {
    0% {
        opacity: 0;
        
    }
    50% {
        opacity: 0;
        
    }
    80% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;

    }
}