* {
    width: 100vw;
    height: 100vh;
}
body {
    background-color: black;
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 5px 2px 20px white;

}
header {
    height: 15vh;
    background-color: rgb(0, 0, 0, 0.7);

}
#moonrise {
    font-size: 1em;
    animation:  50s scrolltext linear;
    transform: translateY(-100%);
}

#arrow {
    position: fixed;
    z-index: 11;
    top: 50vh;
    right: 0;
    width: 10vw;
    height: 100vh;
    font-size: 5em;
}
#arrow a {
    color: white; 
    opacity: 0.6;
}
#arrow a:hover {
    color: red;
}
@keyframes scrolltext {
    from {
        transform: translateY(-10%);
        -moz-transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
    }
    to {
        transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
    }
}