* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-size: 1.1em;
    background-image: radial-gradient(rgb(204, 208, 128), rgb(178, 198, 178), rgb(130, 143, 99));
    background-attachment: fixed;
}
#beeper {
    position: relative;
    z-index: 15;
    background-color: rgb(178, 198, 178);
    width: 100vw;
    height: 100vh;
    font-family: apple chancery;
    font-size: 2em;
    padding-top: 45vh;
    text-align: center;
    opacity: 0.9;
    color: white;
}
#old {
    padding: 10px 10px;
    color: white;
    font-family: apple chancery;
    background-color: rgba(168, 168, 168, 0.315);
    border: 5px solid rgb(255, 255, 255);
    font-size: 0.5em;
}
#old:hover {
    background-color: rgb(213, 213, 213);
}
.hidden {
    display: none;
}
#jungle {
    transform: rotateZ(90deg);
    position: absolute;
    z-index: 0;
    bottom: -20%;
    right: -10%;
    color: rgb(0, 255, 0);
    font-size: 1.5em;
}

#jungle2 {
    transform: rotateZ(90deg);
    position: absolute;
    bottom: -20%;
    right: -30%;
    z-index: -5;
    color: rgba(236, 236, 236, 0.793);
}
#jungle3 {
    transform: rotateZ(90deg);
    position: absolute;
    bottom: -20%;
    left: 50%;
    z-index: -5;
    color: rgba(216, 202, 202, 0.793);
}
#jungle4 {
    transform: rotateZ(90deg);
    position: absolute;
    bottom: 0%;
    right: 30%;
    z-index: -5;
    color: rgba(42, 71, 36, 0.464);
}
#jungle5 {
    transform: rotateZ(90deg);
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: -10;
    color: rgba(161, 122, 148, 0.619);
}
#jungle6 {
    transform: rotateZ(90deg);
    position: absolute;
    bottom: 0%;
    right: 20%;
    z-index: -5;
    color: rgba(109, 142, 103, 0.675);
}
#tree:hover {
    opacity: 0.2;
    transition: 0.5s ease-in-out;
}

