* {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
#arrow {
    position: fixed;
    width: 10vw;
    top: 40vh;
    right: 0;
    z-index: 10;
    font-size: 4em;
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 5px 2px 20px white;
    animation: 3s fadein linear;
    
}    
#arrow a {
    color: white; 
    opacity: 0.6;
}
#arrow:hover {
    color: red;
} 
@keyframes fadein {
    0% {
        opacity: 0;
        transform: skewX(15deg)
    }
    50% {
        opacity: 0;
        transform: skewX(15deg)
    }
    80% {
        opacity: 0;
        transform: skewX(15deg)
    }
    100% {
        opacity: 1;
        transform: skewX(0deg)
    }
}