body {
    background-color: blue;
    color: white;
}
#spiral-wrapper {
    width: 80vw;
    height: 100vh;
    text-align: center;
    position: relative;
    cursor: progress;
    transform: skewX(60deg);
    opacity: 0.7;
}
.spiral-fall1 {
    position: absolute;
    z-index: 1;
    width: 600px;
    height: 600px;
    animation: 200s rotate linear infinite;
}
.spiral-fall2 {
    position: absolute;
    z-index: 2;
    margin: 25px;
    width: 550px;
    height: 550px;
    animation: 200s rotate reverse infinite;
}
.spiral-fall3 {
    position: absolute;
    z-index: 3;
    margin: 75px;
    width: 450px;
    height: 450px;
    animation: 200s rotate linear infinite;
}
.spiral-fall4 {
    position: absolute;
    z-index: 4;
    margin: 112px;
    width: 375px;
    height: 375px;
    animation: 200s rotate linear infinite;
}
.spiral-fall5 {
    position: absolute;
    z-index: 5;
    margin: 150px;
    width: 300px;
    height: 300px;
    animation: 200s rotate linear infinite;
}
.spiral-fall6 {
    position: absolute;
    z-index: 6;
    margin: 250px;
    width: 100px;
    height: 100px;
    animation: 200s rotate linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
