* {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(44, 37, 37);
    color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}
#cowgXrl-wrapper {
    padding: 0;
    margin: 0;
    width: 100vw;
    text-align: justify;
    text-justify: inter-character;
    font-size: 2em;
    position: absolute;
    top: 5000px;
    left: 0px;
    overflow: scroll;
    color: rgb(186, 219, 206);
}
#cowgXrl {
    overflow: scroll;
}
#graveyard {
    width: 100vw;
    height: fit-content;
    background: blue;
    position: absolute;
    top: 2500px;
    left: 2500px;
}
#bones {
    font-size: 4em;
    color: white;
    height: fit-content;
    width: fit-content;
}
#lazybones {
    width: 80vw;
    height: 80vh;
}
#poems {
    position: relative;
    right: 0;
    bottom: 0;
    z-index: 0;
    height: fit-content;
    text-align: right;
    font-size: 4em;
    color: white;
    background-color: blue;
}
#poems:hover {
    animation: hide 2s linear forwards;

}
#before-poems {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    height: fit-content;
    text-align: right;
    font-size: 3em;
    background-color: blue;
    color: white;
    opacity: 0;
}
#before-poems:hover {
    animation: reveal 1s linear forwards;
}
#laces-wrapper {
    position: absolute;
    top: 3000px;
    left: 5000px;
    width: 100vw;
    height: 100vh;
    background-color: brown;
    text-align: justify;
    /*letter columns*/
    letter-spacing: 10em;
    overflow: hidden;
}
#laces a {
    position: relative;
    z-index: 20;
    cursor: crosshair;
}
#abs-10 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 1500px;
    height: 900px;
    opacity: 0.6;
}
#spiral-wrapper {
    position: absolute;
    top: 7000px;
    left: 0px;
    background-color: rgb(43, 40, 52);
    cursor: progress;
    display: flex;
    justify-content: center;
    align-items: center;
}
#spiral-fall1 {
    position: absolute;
    animation: rotate 180s linear infinite;
}
#spiral-fall2 {
    position: absolute;
    color: white;
    animation: rotate 120s reverse infinite;
}
#spiral-fall3 {
    position: absolute;
    color: white;
    animation: rotate 190s linear infinite;
}
#spiral-fall4 {
    position: absolute;
    color: white;
    animation: rotate 100s linear infinite;
}
#spiral-fall5 {
    position: absolute;
    color: white;
    animation: rotate 95s reverse infinite;
}
#spiral-fall6 {
    position: absolute;
    color: white;
    animation: rotate 130s linear infinite;
}
#spiral-fall7 {
    position: absolute;
    color: white;
    animation: rotate 130s linear infinite;
}
#spiral-fall8 {
    position: absolute;
    color: white;
    animation: rotate 155s reverse infinite;
}
#spiral-fall9 {
    position: absolute;
    color: white;
    animation: rotate 130s linear infinite;
}
#circle1 span {
    position: absolute;
    transform-origin: top left;
}
text { 
    font-size: 12px;
    font-weight: 200; 
    fill: white;
    letter-spacing: 1px;
}
@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(90deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    75% {
        transform: rotateZ(270deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
@keyframes hide {
    0% {
        opacity: 1;
        bottom: 0;
    }
    100% {
        opacity:0;
        bottom: 20;
    }
}
@keyframes reveal {
    0% {
        opacity: 0;
        background-color: blue;
    }
    100% {
        opacity: 1;
        background-color: blue;
    }
}
.waviy {
    display: inline-block;
}
.waviy span {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: waviy 10s infinite;
    animation-delay: calc(.1s * var(--i));

  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateX(0)
    }
    20% {
      transform: translateX(500px)
    }
  }

#nomXnsland {
    position: absolute;
    top: 5000px;
    left: 5055px;
    background-color: black;
    width: 100vw;
    height: 100vh;
  }