html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Menlo';
  src: url('../assets/fonts/Menlo-Regular.ttf') format('truetype');
}
  
#text {
  display: block;
  width: 80%;
  text-align: center;
  margin: 30px;
}
  
#sketch-container {
  background-color: black;
  width: 640px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}