header {
    font-family: 'Arimo', sans-serif;
    border-bottom: 2px solid var(--black);
    background-color: var(--white);
    position: fixed;
    z-index: 10;
    height: fit-content;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.383);
}
h1 {
    font-family: 'Arimo', sans-serif;
    font-size: 1rem;
    font-style: none;
    font-weight: 400;
}
h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 0.8rem;
    font-style: none;
    font-weight: 200;

}
section {
    position: relative;
    text-align: left;
    border-top: 1px solid black;
    min-height: 260px;
    height: fit-content;
    display: flex;
    flex-direction: horizontal;
}
.frame-box {
    text-align: right;
    width: 50%;
    /* position: absolute;
    bottom: 5px;
    right: 0; */
    /* padding-right: 15px;
    padding-left: 9px; */

}
.img-box {
    text-align: right;
    width: 50%;
    /* position: absolute;
    bottom: 5px;
    right: 0; */
}
.txt-box {
    /* position: absolute;
    bottom: 5px;
    left: 0; */
    max-width: 50%;
    width: 580px;

}
iframe {
    width: 400px;
    height: 235px;
}
img {
    width: 400px;

}
#follow {
    position: absolute;
    width: 200px;
    text-align: left;
}
.title--font {
    font-family: 'Arimo', sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    padding-left: 9px;
}
.small--font {
    font-size: 2rem;
    line-height: 2rem;
}
#title-head {
    width: fit-content;
    cursor: pointer;
}
#menu-head {
    float: right;
    text-align: right;

}
.menu-item {
    width: 100px;
}
#about-box {
    display: flex;
    flex-direction: row;
}

.pad--top {
    padding-top: 48px;
}
.radial {
    background-image: radial-gradient(rgb(0, 0, 0), 33%, var(--white), 90%, var(--white));
    /* -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0); */
}
.radial-one:hover {
    background-image: radial-gradient(blue, 33%, var(--white), 90%, var(--white));
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: blue;
    color: var(--white);
}
.radial-two:hover {
    background-image: radial-gradient(red, 33%, var(--white), 90%, var(--white));
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: red;
    color: var(--white);
}
.radial-three:hover {
    background-image: radial-gradient(green, 33%, var(--white), 90%, var(--white));
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: green;
    color: var(--white);
}
.radial-four:hover {
    background-image: radial-gradient(purple, 33%, var(--white), 90%, var(--white));
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: purple;
    color: var(--white);
}
.contents {
    font-family: 'Arimo', sans-serif;
    overflow-y: scroll;
    display: inline-flex;
    /* border-bottom: 2px solid var(--black); */
}
.container {
    display: flex;
    flex-direction: column;
}
.menu-item {
    padding: 3px 10px;
}
.a-hl:hover {
    background-color: rgb(255, 238, 0);
    color: var(--white);
    cursor: pointer;
}
.proj-box {
    height: 100vh;
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-family: 'Amiri';
    word-wrap: break-word;
    width: calc(1/3 * 100vw);
}
.proj-box:hover {
    transition-duration: 0.5s;
    /* transition-timing-function: ease-in-out; */
    width: 500px;
}

section > * {
    padding: 9px;
}
#contact-open {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding-top: 10px;
    width: 70%;
    margin: 0 auto;
}
#contact-page {
    min-height: 400px;

}
.inline {
    display: inline;
}
.block {
    display: block;
}
.shrinkIn {
    /* animation: shrink 1.3s linear; */
}
@keyframes shrink {
    0% {
        height: 100vh;
    }
    
    100% {
        height: 80px;
    }
}


/* projects styling*/
.proj-items {
    width: 50vw;
    height: 400px;
    display: inline-block;
    margin: 0;
    padding: 0;
    /* margin: 5vh 3vw; */
    overflow: hidden;
    cursor: pointer;
    /* box-shadow: 2px 2px 10px var(--black); */
}
/*MOONRISE*/
#MoonTypeText {
    background-color: none;
    color: rgba(9, 9, 9, 0.6);
    text-shadow: 0px 0px 20px white, -30px 30px 40px white;
    text-align: left;
    padding: 10%;
}

@media screen and (max-width: 600px) {
    .title--font {
        font-size: 1.6rem;
    }
    .contents {
        display: flex;
        flex-direction: column;
    }
    .proj-box {
        height: calc(1/3 * 95vh);
        width: 100vw;
        font-size: 3rem;
        line-height: 3rem;
        /* border-bottom: 1px solid var(--black); */
    }
    .proj-box:hover {
        background-color: var(--black);
        color: var(--white);
        transition-duration: 0.1s;
        width: 100vw;
        height: 230px;
        
    }
    img {
        margin: 0 auto;
        width: 100%;
    }
    section {
        flex-direction: column !important;
        height: 100%;
    }
    .frame-box {
        text-align: right;
        width: 100%;
        position: relative;

        padding-right: 9px;
    
    }
    iframe {
        width: 100%;
        height: 270px;
    }
    .img-box {
        text-align: right;
        width: fit-content;
        position: relative;
    
        padding-right: 9px;

    }
    
    .txt-box {
        position: relative;
        max-width: 100%;
        width: 580px;
        height: 200px;
        padding-right: 9px;
        padding-bottom: 50px;
        padding-top: 15px;
    }
}

@media screen and (max-width: 375px) {
    .title--font {
        font-size: 1rem;
    }
    .a-hl {
        font-size: 0.6rem;
    }
    .full--width {
        width: 100%;
    }
    section {
        height: fit-content;
    }
    .proj-items {
        width: 220px;
        height: 115px;
        margin: 80px 40px 0px;
    }
    #aboot, #contact-open {
        font-size: 1.2rem;
        color: black;
    }
}