.sound-page {
    width: 100%;
    min-height: fit-content;
    margin: 0 auto;
    background-image: linear-gradient(180deg, #97b3e2, #dddab5);
    display: flex;
}
#header-container {
    width: 100%;
    text-align: left;
    padding: 10% 0%;
}

.mllid-video-page {
    width: 100%; 
    min-height: fit-content;
    margin: 0 auto;
    background-color: #e2d4d8;
}
#mllid_img {
    max-width: 100%;
   
}
#mllid_video {
    position: absolute;
    z-index: 50; 
    padding: 3% 11%;
}

.mllid-text {
    width: 80%;
    min-height: fit-content;
    font-size: 0px;
    letter-spacing: 2px;
    padding: 5% 6%;
    margin: 0 auto;
}
.mllid-column {
    display: table-cell;
    width: 45%;
    table-layout: fixed;
    padding-right: 2%;   

}
.cm-root-page {
    width: 100%; 
    min-height: fit-content;
    margin: 0 auto;
    background-color: #2925cf;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, #d7d8e0, #97b3e2);
}
.cm-text {
    width: 80%;
    height: 100%;
    font-size: 0px;
    margin: 0 auto;
    letter-spacing: 2px;
    padding: 2% 5% 6% 5%;
}
#center-media {
    margin: 0 auto;
    text-align: center;
}
    