* {
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Corona";
  src: url("./fonts/Corona W01 Roman.ttf");
}
@font-face {
  font-family: "ROM";
  src: url("./fonts/ABCROM-Regular-Trial.otf");
}
body {
  background-color: #f6f6f6;
  /* background-image: linear-gradient(#0f45c9, #f6f6f6); */
  font-family: "ROM";
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
a:hover {
  color: #f6f6f6;
}
#txt-box {
  text-align: center;
  font-size: 16px;
  position: relative;
  z-index: 10;
  filter: contrast(9);
}
#logo {
  padding-left: calc((100vw - 370px) / 2);
  width: 370px;
  padding-top: 30vh;
  padding-bottom: 8vh;
  position: relative;
  font-family: "ROM";
  z-index: 10;
  /* font-size: 200px; */
  overflow: visible;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  #logo {
    padding-top: 10vh;
    padding-bottom: 4vh;
    width: 300px;
    padding-left: calc((100vw - 300px) / 2);
  }
}
.multiply {
  mix-blend-mode: multiply;
}
.hidden {
  display: none;
}
#mc-container {
  width: 400px;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 10;
  font-size: 16px;
}
#mc_embed_signup_scroll {
  font-family: "ROM";
  width: 400px;
  height: 305px;
  padding-left: 0;
  mix-blend-mode: difference;
}
input {
  background-color: rgba(255, 255, 255, 0);
  font-family: "ROM";
  border: none;
  border-bottom: 2px solid black;
  font-size: 16px;
  width: 370px;
  padding-bottom: 5px;
}
.mc-field-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.mc_label {
  padding-top: 22px;
  font-size: 16px;
  width: 150px;
}
.button {
  font-family: "ROM";
  font-size: 16px;
  border: 2px solid black;
  text-align: left;
  padding: 10px 15px;
  margin: 5px 20px;
  width: fit-content;
  cursor: pointer;
  float: right;
}
.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.button:hover {
  background-color: black;
  color: #f6f6f6;
  transition-duration: 0.5s;
}
input:focus {
  outline: none;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#close-sub {
  float: right;
  height: 30px;
  padding: 15px;
}
#close-sub:hover {
  cursor: pointer;
}
footer {
  font-family: "Corona";
  position: absolute;
  bottom: 0;
  padding: 5px 10px;
  font-size: 9px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#arrow-square {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
}
.nav-button {
  font-family: "ROM";
  font-size: 16px;
  border: none;
  background: none;
  text-align: left;
  padding: 10px;
  margin: 0px;
  width: fit-content;
  cursor: pointer;
}
.nav-button:hover {
  background-color: black;
  color: #f6f6f6;
  transition-duration: 0.5s;
}
.lazy-fade {
  animation: 0.5s lazyFade ease-in-out;
}

@keyframes lazyFade {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.mouse-cursor-gradient-tracking {
  position: relative;
  overflow: hidden;
}

.mouse-cursor-gradient-tracking::before {
  --size: 0;
  content: "";
  position: absolute;
  z-index: -5;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #82f74f, transparent);
  transform: translate(-50%, -50%);
  /* transition: width 0.2s ease, height 0.2s ease; */
}

.mouse-cursor-gradient-tracking:hover::before {
  --size: 500px;
}
.trail-element {
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: -9;
  background-color: rgba(255, 255, 255, 0);
  background: radial-gradient(circle closest-side, #82f74f, transparent);
  transform: translate(-50%, -50%);
  opacity: 0.1;
  animation: 10s colourShift infinite alternate-reverse;
}
@keyframe colourShift {
  0% {
    background: radial-gradient(circle closest-side, #82f74f, transparent);
  }
  100% {
    background: radial-gradient(circle closest-side, #0f45c9, transparent);
  }
}
